* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
  color: var(--accentBlack);
}

:root {
  --main: #f3f1f1;
  --accentBlue: #3af;
  --accentBlack: #222;
  --accentRed: #f23;
}

span {
  color: var(--accentRed);
}

#nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  padding-left: 30px;
  line-height: 50px;
  background: var(--main);
  box-shadow: 0 0 8px 0 var(--accentBlack);
  z-index: 9;
}

.hamburger {
  display: none;
}

.logo {
  font-size: 26px;
  letter-spacing: 1px;
}

.links {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 53%;
}

.link {
  width: 33.3%;
  height: 100%;
  background: var(--accentBlue);
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: 250ms;
}

.link:hover, .active {
  background: #222;
  color: var(--main);
  box-shadow: 0 0 6px 0 #000;
}

main {
  width: 100%;
  margin: 50px auto 0;
}

.pic {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  background: url(./bg.jpg);
  background-size: cover;
  background-position: right;
}

.pic::after {
  content: 'Photo by Émile Perron on Unsplash';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--accentBlue);
  color: var(--main);
  padding: 2px 20px
}

.pic .hero {
  position: absolute;
  background: var(--main);
  width: 58%;
  min-width: 265px;
  max-width: 500px;
  padding: 40px;
  left: 28%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pic .hero h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--accentBlue);
  background: var(--accentBlack);
  padding: 8px 0;
}

.pic .hero p {
  font-size: 18px;
  line-height: 22px;
}

.skills {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: var(--main);
}

.skills h1 {
  font-size: 35px;
}

.skill {
  background: var(--accentBlue);
  padding: 30px;
  text-align: center;
  min-width: 20%;
  transition: 300ms;
}

.skill i {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 18px;
}

.skill h2 {
  font-size: 25px;
  letter-spacing: 2px;
}

.skill:hover, .projectCat:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 8px 0 var(--accentBlack);
}

.projects-con {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 30px 0;
  margin: 20px 0;
  background: var(--main);
}

.project-type {
  width: 22%;
}

.project-type h1 {
  background: var(--accentBlue);
  text-align: center;
  font-size: 32px;
  padding: 5px 8px;
  margin-bottom: 10px;
}

.project-type a {
  display: block;
  width: 82%;
  padding: 12px 0;
  margin: 5px  auto;
  text-align: center;
  text-decoration: none;
  font-size: 21px;
  background: #fff;
}

.about {
  background: var(--main);
  display: flex;
  flex-direction: column;
  padding: 27px;
  margin: 20px 0;
}

.about h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.about p {
  font-size: 18px;
  margin-bottom: 20px;
}

.more {
  color: var(--accentBlue);
  background: var(--accentBlack);
  width: 12%;
  min-width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 675px) {
  #nav {
    flex-direction: column;
    height: 43px;
    line-height: 43px;
    transition: 100ms height;
    padding: 0;
  }

  .logo {
    font-size: 23px;
    margin-bottom: 18px;
  }

  .links {
    width: 90%;
    flex-direction: column;
    display: none;
  }

  .link {
    height: 29%;
    width: 100%;
    line-height: calc(50vh/3);
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 43px;
    line-height: 43px;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 800;
    text-align: center;
    background: var(--main);
    box-shadow: 0 0 8px 0 var(--accentBlack);
    z-index: 10;
  }

  main {
    margin: 43px 0;
  }

  .pic {
    height: calc(100vh - 43px);
  }

  .pic .hero {
    left: 50%;
    width: 85%;
    text-align: center;
  }

  .pic .hero h1 {
    font-size: 37px;
    margin-bottom: 30px;
  }

  .pic .hero p {
    font-size: 16px;
    line-height: 18px;
  }

  .skills {
    flex-direction: column;
    padding: 30px 0;
  }

  .skills h1 {
    font-size: 33px;
  }

  .skill {
    margin: 6px 0;
    min-width: 250px;
  }

  .skill i {
    font-size: 37px;
  }

  .skill h2 {
    font-size: 22px;
  }

  .projects-con {
    flex-direction: column;
  }

  .project-type {
    width: 82%;
    margin: 11px;
  }

  .about h1 {
    font-size: 35px;
  }

  .about p {
    font-size: 16px;
    line-height: 20px;
  }
}
